# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

.DS_Store

# Ignore compiled c files
**/*.o

# Ignore pdf files
**/*.pdf
**/*.zip
**/__pycache__
**/*.db
**/*.sqlite

# Ignore all Projet-XXX folders content except README.md file
**/Projet-*/*
**/Projet-*/*.*
!**/Projet-*/README.md

!Makefile
!Dockerfile
